@tailwind base;
@tailwind components;
@tailwind utilities;

.button-color {
    background-color: #0082CA;
}

.active-text-color {
    color: #0082CA;
}

.text-color:hover {
    color: #0082CA;
}

@layer base {

    @font-face {
        font-family: 'Montserrat-Bold';
        src: url(/src/assets/fonts/Montserrat-Bold.ttf) format('truetype');
        font-weight: 700;
    }

    @font-face {
        font-family: 'Montserrat-Regular';
        src: url(/src/assets/fonts/Montserrat-Regular.ttf) format('truetype');
        font-weight: 400;
    }
}